.sidebar-container {
    color: white;
    background: #030303;
    width: 32%;
}
.home-page {
    display: flex;
}

.post-container {
    width: 68%;
    padding: 12px 25px;
}

.featuredMedia {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    width: 50%;
}