<div class="posts-container">
    <div class="title">
        <p>Reddit Posts</p>
    </div>
    <div class="posts-list">
        <div *ngFor="let post of postDataArray" class="post-block">
            <div [id]="post.id" class="post-sub_block">
                <div>
                    <p class="post-title"><i class="fas fa-sm fa-circle"></i>{{post.author}} <span>{{post.created}}</span></p>
                    <div class="post-preview">
                       <img [src]="post.thumb">
                       <p>{{post.title}}</p> 
                    </div>
                    <div class="post-footer">
                        <p (click)="dismissPost(post.id);" class="dismiss-label"><i class="far fa-times-circle"></i> Dismiss Post</p>
                        <p>{{post.num_comments}} comments</p>
                    </div>
                </div>
                <div>
                    <i class="fas fa-lg fa-chevron-right"></i>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div (click)="dismissAll();" class="dismiss-block">
        <p>Dismiss All</p>
    </div>
</div>
